.payment {
  background-color: white;

  h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;

    a {
      text-decoration: none;
    }
  }

  &__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
  }

  &__title {
    flex: 0.2;
  }

  &__address {
    flex: 0.8;
  }

  &__items {
    flex: 0.8;
  }

  &__details {
    flex: 0.8;
  }
}
